<table class ="table" style="" border="1">
  <tr *ngFor="let u of employees">
    <td>
      <a routerLink="/details/{{u.id}}">
      <span class="badge"> {{u.id}}</span>
    </a>
    </td>
    <td>
      {{u.name}}
    </td>
    <td>
      {{u.age}}
    </td>
    <td>  
      <a routerLink="/editEmployee"> <button class= 'btn btn-info' (click)="editService.setEmployee(u)">UPDATE DATA</button></a>
      <button class= 'btn btn-info' (click)="deleteEmp(u.id)">Delete</button>
    </td>
  </tr>
</table>